@model AccountInput

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (ViewBag.Errors != null)
{
    <br />
    <div class="" role="alert">
        @foreach (string e in ViewBag.Errors)
        {
            <span class="" style="color:red">@e</span>
        }
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="naam" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="wachtwoord"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-dark">Inloggen</button>
        </form>
    </div>
</div>
