@model Kid;

<div class="text-left">
	<div>
		<h1 class="display-4">Welkom @Model.Name</h1>
		<label>De <b>Kerstman</b> heeft gevraagd of je je verlanglijstje wil invullen!</label>
		<label>Voor we cadeautjes uitkiezen, moeten we je eerst wat vragen</label>
	</div>
	
	<br />

	<form asp-controller="Kid" asp-action="PersonalInfo">
		<div>
			<label asp-for="Age">Hoe oud ben je?</label>
			<br />
			<input type="number" class="" asp-for="Age">
			<span asp-validation-for="Age" style="color:red"></span>		
		</div>

		<br />

		<div class="radiobutton">
			<label asp-for="Niceness">Ben je braaf geweest?</label>
			<br />
			<input type="radio" class="" asp-for="Niceness" value="Very_Nice" checked>Heel braaf!</input> 
			<br />
			<input type="radio" class="" asp-for="Niceness" value="A_Little">Een beetje braaf...</input>
			<br />
			<input type="radio" class="" asp-for="Niceness" value="Naughty">Ik heb het geprobeerd.</input>
			<span asp-validation-for="Niceness" style="color:red"></span>
		</div>

		<br />

		<div>
			<label asp-for="NicenessExample">Wat heb je dan gedaan dat je zo braaf bent geweest?</label>
			<br />
			<input type="text" class="" asp-for="NicenessExample">
			<span asp-validation-for="NicenessExample" style="color:red"></span>
			<br />
			<label>Vul deze vraag alleen in als je braaf bent geweest!</label>			
		</div>

		<br />
		<input type="hidden" class="" asp-for="Name" value="@Model.Name">
		<input type="hidden" class="" asp-for="PossibleGifts" value="@Model.PossibleGifts">
		<button type="submit" class="" name="save" role="button">Naar de volgende stap!</button>
	</form>
</div>
